@model IEnumerable<WSR_SESSION1.Models.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Fio)</th>
            <th>@Html.DisplayNameFor(model => model.First().PassportData)</th>
            <th>@Html.DisplayNameFor(model => model.First().WorkPlace)</th>
            <th>@Html.DisplayNameFor(model => model.First().PolicyNumber)</th>
            <th>@Html.DisplayNameFor(model => model.First().PolicyExpire)</th>
            <th>@Html.DisplayNameFor(model => model.First().PolicyCompany)</th>
            <th>@Html.DisplayNameFor(model => model.First().MedicalCardId)</th>
            <th>@Html.DisplayNameFor(model => model.First().PhotoPath)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fio)</td>
                <td>@Html.DisplayFor(modelItem => item.PassportData)</td>
                <td>@Html.DisplayFor(modelItem => item.WorkPlace)</td>
                <td>@Html.DisplayFor(modelItem => item.PolicyNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.PolicyExpire)</td>
                <td>@Html.DisplayFor(modelItem => item.PolicyCompany)</td>
                <td>@Html.DisplayFor(modelItem => item.MedicalCardId)</td>
                <td>@Html.DisplayFor(modelItem => item.PhotoPath)</td>
            </tr>
        }
    </tbody>
</table>